<ion-view view-title="Upload Images">
  <ion-content class="padding">
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">Title</span>
        <input type="text" placeholder="Title">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Description</span>
        <input type="text" placeholder="Description">
      </label>
      <div class="item item-input-inset">
        <button
          class="button button-balanced select-pictures"
          ng-click="dash.getPictures()">
            Select Pictures
        </button>
        <span ng-if="dash.uploading" class="progress">Upload Progress: </span>
      </div>
    </div>
   <div class="button-bar">
      <button class="button button-stable">Cancel</button>
      <button
          class="button button-calm"
          ng-click="dash.uploadPictures()">Upload</button>
    </div>
   </ion-content>
</ion-view>
